<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b590b9">  <td>19/11/25 19:52:37</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGCucumberTests.setUpClass()[pri:0, instance:runner.RunCuke@5cb9f472]">&gt;&gt;setUpClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@250370634</td>   <td></td> </tr>
<tr bgcolor="7e8f62">  <td>19/11/25 19:52:37</td>   <td>391</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RunCuke.setup()[pri:0, instance:runner.RunCuke@5cb9f472]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@250370634</td>   <td></td> </tr>
<tr bgcolor="b590b9">  <td>19/11/25 19:52:38</td>   <td>1359</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AbstractTestNGCucumberTests.feature(cucumber.api.testng.CucumberFeatureWrapper)[pri:0, instance:runner.RunCuke@5cb9f472]">feature</td> 
  <td>main@250370634</td>   <td></td> </tr>
<tr bgcolor="b590b9">  <td>19/11/25 19:53:28</td>   <td>51946</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGCucumberTests.tearDownClass()[pri:0, instance:runner.RunCuke@5cb9f472]">&lt;&lt;tearDownClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@250370634</td>   <td></td> </tr>
</table>
