<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7c8faf">  <td>19/11/25 12:31:48</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AbstractTestNGCucumberTests.feature(cucumber.api.testng.CucumberFeatureWrapper)[pri:0, instance:runner.RunCuke@54d9d12d]">feature</td> 
  <td>main@187472540</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>19/11/25 12:31:46</td>   <td>-1930</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGCucumberTests.setUpClass()[pri:0, instance:runner.RunCuke@54d9d12d]">&gt;&gt;setUpClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@187472540</td>   <td></td> </tr>
<tr bgcolor="909474">  <td>19/11/25 12:31:47</td>   <td>-1335</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RunCuke.setup()[pri:0, instance:runner.RunCuke@54d9d12d]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@187472540</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>19/11/25 12:32:52</td>   <td>63721</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGCucumberTests.tearDownClass()[pri:0, instance:runner.RunCuke@54d9d12d]">&lt;&lt;tearDownClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@187472540</td>   <td></td> </tr>
</table>
