<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Failed suite [Default suite]</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="aedc67">  <td>19/11/25 19:44:56</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AbstractTestNGCucumberTests.feature(cucumber.api.testng.CucumberFeatureWrapper)[pri:0, instance:runner.RunCuke@4566e5bd]">feature</td> 
  <td>main@979294118</td>   <td></td> </tr>
<tr bgcolor="aedc67">  <td>19/11/25 19:45:43</td>   <td>47289</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AbstractTestNGCucumberTests.feature(cucumber.api.testng.CucumberFeatureWrapper)[pri:0, instance:runner.RunCuke@31dc339b]">feature</td> 
  <td>main@979294118</td>   <td></td> </tr>
<tr bgcolor="aedc67">  <td>19/11/25 19:44:54</td>   <td>-1531</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGCucumberTests.setUpClass()[pri:0, instance:runner.RunCuke@4566e5bd]">&gt;&gt;setUpClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@979294118</td>   <td></td> </tr>
<tr bgcolor="aedc67">  <td>19/11/25 19:45:43</td>   <td>47039</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGCucumberTests.setUpClass()[pri:0, instance:runner.RunCuke@31dc339b]">&gt;&gt;setUpClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@979294118</td>   <td></td> </tr>
<tr bgcolor="78c790">  <td>19/11/25 19:44:55</td>   <td>-1047</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RunCuke.setup()[pri:0, instance:runner.RunCuke@4566e5bd]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@979294118</td>   <td></td> </tr>
<tr bgcolor="78c790">  <td>19/11/25 19:45:43</td>   <td>47070</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RunCuke.setup()[pri:0, instance:runner.RunCuke@31dc339b]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@979294118</td>   <td></td> </tr>
<tr bgcolor="aedc67">  <td>19/11/25 19:45:42</td>   <td>45864</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGCucumberTests.tearDownClass()[pri:0, instance:runner.RunCuke@4566e5bd]">&lt;&lt;tearDownClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@979294118</td>   <td></td> </tr>
<tr bgcolor="aedc67">  <td>19/11/25 19:46:25</td>   <td>89075</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGCucumberTests.tearDownClass()[pri:0, instance:runner.RunCuke@31dc339b]">&lt;&lt;tearDownClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@979294118</td>   <td></td> </tr>
</table>
